@import 'tailwindcss';
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --font-body: var(--font-inter);
  --font-heading: var(--font-sora);
}

@theme {
  --color-primary-white: #ffffff;
  --color-primary-dark: #000000;
  --color-accent: #e06b80;
  --color-accent-dark: #cd2c58;
  --color-gray: #6c6c6c;
  --color-light-gray: #f3f4f6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), ui-sans-serif, system-ui;
  font-weight: 600;
}

body {
  background: var(--color-primary-white);
  color: var(--color-primary-dark);
  font-family:
    var(--font-body),
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial;
}

.card-scroll::-webkit-scrollbar {
  width: 4px;
}

.card-scroll::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 100px;
}

.card-scroll:hover::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
