@import 'tailwindcss';
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-white: #eeeeee;
  --color-primary-dark: #222222;
  --color-accent: #e06b80;
  --color-accent-dark: #cd2c58;
  --color-light-gray: #f3f4f6;
}

body {
  background: var(--color-primary-white);
  color: var(--color-primary-dark);
  font-family: Arial, Helvetica, sans-serif;
}
