@import 'tailwindcss';
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --font-body: var(--font-inter);
  --font-heading: var(--font-sora);
}

@theme {
  --color-primary-white: #ffffff;
  --color-primary-dark: #000000;
  --color-accent: #e06b80;
  --color-accent-dark: #cd2c58;
  --color-gray: #6c6c6c;
  --color-light-gray: #f3f4f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), ui-sans-serif, system-ui;
  font-weight: 600;
}

body {
  background: var(--color-primary-white);
  color: var(--color-primary-dark);
  font-family:
    var(--font-body),
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial;
}
